html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', cursive;
  color: white;
  background-color: black;
}

body { 
  background: url("./../images/fondostart.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.opening{
  
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content:center;
}

.openingcontent{
  margin-top: 50px;
}

.game {
  margin-top:10px;
  text-align: center;
  display: flex;
  justify-content:center;
  height: 100%;
  width: 100%;
  background: url("./../images/fondobatalla.png") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.lives { margin-right: 50px;}

.score { margin-right: 50px;}


.canvas-container {
  
  height: 800px;
  width: 600px;
  margin: 0px;
  background: black;
  border: 1px solid red;
}
