html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', cursive;
  color: white;
  background-color: black;
}

body { 
  background: url("./../images/fondostart.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.opening{
  
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content:center;
}

.openingcontent{
  margin-top: 20px;
}

button {
  background-color: grey; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Press Start 2P', cursive;
  border-radius: 4px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: red; /* Green */
  color: white;
}

.game {
  margin-top:10px;
  text-align: center;
  display: flex;
  justify-content:center;
  height: 100%;
  width: 100%;
  background: url("./../images/fondobatalla.png") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.lives { margin-right: 50px;}

.score { margin-right: 50px;}


.canvas-container {
  
  height: 800px;
  width: 600px;
  margin: 0px;
  background: black;
  border: 1px solid red;
}


/* styling the list 

 /* The container must be positioned relative: */
 select {
  background-color: grey; /* Green */
  color: white;
  padding: 15px 15px;
  width: 250px;
  height: 50px;
  border: none;
  font-size: 13px;
  font-family: 'Press Start 2P', cursive;
  text-align:center;
  
  text-decoration: none;
  /*display: inline-block;*/
  
  border-radius: 4px;
  /*-webkit-appearance: button;*/
  outline: none;
}

.gameover{
  font-size: 75px;
}

select:focus{ outline: none;}